/* regole di reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* navbar */
nav{
    background-color: #ADD8E6;
    padding: 12px;
}
nav .container > *{
    border: dashed 1px black;
    padding: 12px;
}
.container{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    border: dashed 1px black;
}
nav .container{
    display: flex;
    justify-content: space-between;
    background-color: #DAA520;
}
nav .logo{
    flex-grow: 1;
}

nav .login{
    flex-grow: 1;
    text-align: right;
}

nav .links{
    flex-grow: 4;
}

nav .links ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 12px;
}
/* fine navbar */


section {
    padding: 48px;
}



/* section 1 */

.boxblu{
    background-color: #00008B;
}

.fucsia{
    margin-left: auto;
    margin-right: auto;
    max-width: 900px;
    height: 400px;
    background-color: #EE82EE;
}
/* fine section 1 */


/* section 2-3-4-5 */
.row{
    display: flex;
}

.boxbianca{
    background-color: white;
}

.boxgrigia{
    background-color: #D3D3D3 ;
}

.rosa{
    height: 480px;
    width: 40%;
    background-color: #FFC0CB;
}

.azzurro{
    height: 480px;
    flex-grow: 1;
    background-color: #1E90FF;
}

.verde{
    background-color: #228B22;
    height: 700px;
    width: 100%;
}
/* fine section 2-3-4-5 */


/* footer */

footer{
    background-color: #23272a;
    padding-top: 48px;
}

footer .container > * {
    border: 1px dashed white;
}

footer .colonna-g{
    background-color: #f08080;
    flex-grow: 2;
    height: 600px;
}

footer .colonna-p{
    background-color: #20b2aa;
    flex-grow: 1;
    height: 600px;
}

footer #foot-sopra{
    margin-bottom: 48px;
}


footer #foot-sotto{
    margin-top: 32px;
}

footer #foot-sotto .container{
    display: flex;
    justify-content: space-between;
    padding: 12px 0px;
    background-color: #7fffd4;
}

footer #foot-sotto .container > *{
    background-color: #ffb6c1;
}