/* regole di reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* navbar */
nav{
    background-color: #ADD8E6;
    padding: 12px;
}
.container-1{
    display: flex;
    
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;

}
.container-1 > *{
    display: flex;
    background-color: #DAA520;
    height: 48px;
    align-items: center;
    border: 1px solid black;
}
.container-1 aside{
    flex-grow: 1;
    padding: 5px;
}
.login{
    flex-direction: row-reverse;
}
.container-1 main{
    flex-grow: 4;
    justify-content: center;
    gap: 12px;
}
/* fine navbar */

/* section 1 */
